/* Set a different background color */

.meaning-finder-container {
  background-color: #c1d8e2;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

/* Style the input box */
.meaning-finder-input {
  padding: 15px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #318fbb;
  margin-bottom: 20px;
}

/* Style the button */
.meaning-finder-button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: #18b4b9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.meaning-finder-button:hover {
  background-color: #005169;
}

